In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('成绩表.xlsx')
df

   姓名  科目  分数
0  小明  语文  85
1  小明  数学  90
2  小王  英语  90
3  小王  语文  85
4  小王  数学   0
5  小刚  英语  95
6  小刚  语文  85
7  小刚  数学  75

In [3]:
with pd.ExcelWriter('分科成绩表.xlsx') as writer:
   (
   df.groupby('科目')
     .apply  
     (lambda x:x.to_excel(writer,index = False,sheet_name = x.name))
   )